.seller-sidebar {
    min-height: 100vh;
}

.sidebar-link {
    display: block;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.sidebar-link:hover {
    background: #0d6efd;
    color: white;
}

.active-link {
    background: #0d6efd;
    color: white !important;
}

@media(max-width:768px) {

    .seller-sidebar {
        min-height: auto;
    }

    .sidebar-link {
        padding: 12px;
    }

}